@import "variable";

.header_certificados {
    li {
        background-color: #007560;
        text-align: center;
        list-style: none;
        padding: 10px 0 10px;

        .fa-solid {
            font-size: 20px;
            color: #f7f5dd;
            margin-right: 30px;

            &:hover {
                color: #9bdeac;
            }

        }
    }
}

.certificados {
    text-align: map-get($estilo, centro );
    margin: 50px;

    img {
        @include sizes (300px, 200px);
        padding: 20px;
    }
}

