@import "variable";

.header_home {
    ul {
        background-color: #007560;
        text-align: map-get($estilo , centro);

        li {
            list-style: none;
            display: inline-block;
            padding: 10px 0 10px;

            .fa-brands {
                font-size: 30px;
                color: map-get($estilo , pastel);
                margin-right: 30px;

                &:hover {
                    color: map-get($estilo , verdeClaro);
                }

            }
        }
    }
}

//Informacion personal + foto

.infoPersonal {
    margin: 0 20px 0 20px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    text-align: map-get($estilo, centro);

    .infoPersonal__img {
        flex-direction: row;

        img {
            border-radius: 100%;
        }
    }
}

// proyecto, certificados, stack
.infoConocimiento {
    h3 {
        margin-top: 10px;
    }

    padding: 40px;
    text-align: map-get($estilo, centro);

    .texto {
        font-size: 1.5rem;
    }

    .color {
        color: map-get($estilo, verdeOscuro);
    }

    .proyecto {
        border-top: 2px dotted #007560;
        border-bottom: 2px dotted #007560;
        margin-top: 50px;

        h2 {
            font-weight: bold;
            margin-top: 15px;
        }

    }

    .carousel-item img {
        margin: 10px 0 20px 0;
        @include sizes (300px, 200px);

    }
}






.estudios {
    @extend .proyecto;

    .card {
        margin: 10px;

        img {
            height: 100px;
        }
    }
}

.stack {
    border-top: 2px dotted #007560;
    border-bottom: 2px dotted #007560;
    margin-top: 50px;

    h2 {
        text-align: center;
        font-weight: bold;
        margin-top: 15px;
    }

    ol {
        padding-bottom: 30px;

        i {
            font-size: 40px;
            color: #007560;
        }
    }

}