* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "home";
@import "certificados";


body {
  background-image: url(../img/stacked-peaks-haikei.png);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  main {
    max-width: 1300px;
    margin: auto;
  }

}


.footer {
  background-color: #007560;
  color: #f7f5dd;
  text-align: center;
  padding: 10px;
  height: auto;
}

.fa-envelope {
  font-size: 20px;
  color: #f7f5dd;
  margin-right: 30px;

  &:hover {
    color: #9bdeac;
  }
}