* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "home";
@import "certificados";
@import "variable";


body {
  background-image: url(../img/stacked-peaks-haikei.png);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  main {
    max-width: 1300px;
    margin: auto;
  }

}


.footer {
  background-color: map-get($estilo, verdeOscuro);
  color: map-get($estilo, pastel);
  text-align: map-get($estilo, centro);
  padding: 10px;
  height: auto;
}

.fa-envelope {
  font-size: 20px;
  color: map-get($estilo, pastel);
  margin-right: 30px;

  &:hover {
    color: map-get($estilo, verdeClaro);
  }
}

//MEDIAQ

@media screen and (min-width: 576px) {
  .carousel-inner {
    .carousel-item img {

      @include sizes(800px, 500px);

    }

  }

  .certificados img {

    @include sizes(500px, 500px);
    padding: 20px;

  }
}